/*=== abstracts css start === */
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.color-ash {
  color: #5b5b5b;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.section-heading {
  color: #424242;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 35px;
  padding-bottom: 20px;
  position: relative;
}
.section-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 50px;
  height: 4px;
  background: #ffb72b;
}

/*===// end of base css === */
/*=== layouts css start === */
.header {
  overflow: hidden;
}
.header .navbar-brand {
  display: inline-block;
  width: 122px;
  height: 90px;
  overflow: hidden;
}
.header .navbar-brand .brand-icon {
  max-width: 190px;
  margin: -40px -35px -35px;
}
.header .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 16px;
  margin-right: 15px;
}
.header .navbar-nav .nav-item .nav-link:hover {
  color: #ffb72b;
}
.header .navbar-nav .nav-item .nav-link.active {
  color: #ffb72b;
}
@media (max-width: 767px) {
  .header .navbar-nav .nav-item .nav-link {
    margin-right: 0;
  }
}
.header .navbar-nav img {
  width: 20px;
  transition: 0.2s;
}
.header .navbar-nav img:hover {
  transform: scale(1.1);
}

.footer {
  padding: 30px 0;
}
.footer .f-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .footer .f-wrap {
    flex-direction: column;
  }
}
.footer .f-wrap p {
  font-size: 15px;
  font-weight: 300;
  color: #424242;
}
@media (max-width: 767px) {
  .footer .f-wrap p {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 419px) {
  .footer .f-wrap p {
    font-size: 13px;
  }
}
.footer .f-wrap .b-link {
  color: #424242;
  font-size: 15px;
  font-weight: 300;
  display: inline-block;
  padding: 0px 5px;
  border-right: 1px solid #424242;
  line-height: 16px;
}
.footer .f-wrap .b-link:hover {
  color: #0b7060;
}
@media (max-width: 767px) {
  .footer .f-wrap .b-link {
    font-size: 13px;
  }
}
@media (max-width: 419px) {
  .footer .f-wrap .b-link {
    font-size: 11px;
  }
}
@media (max-width: 320px) {
  .footer .f-wrap .b-link {
    font-size: 9px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 20px 0;
  }
}

/*===// end of layouts css === */
/*=== components css start === */
/*===// end of components css === */
.banner .banner-wrapper {
  max-width: 1560px;
  margin: auto;
}
.banner .banner-wrapper .swiper .contents {
  position: relative;
  min-height: 600px;
}
.banner .banner-wrapper .swiper .contents.first {
  background: url(../Images/Home/home-banner.png) no-repeat right bottom/cover;
}
.banner .banner-wrapper .swiper .contents.second {
  background: url(../Images/Home/home-banner2.png) no-repeat right bottom/cover;
}
.banner .banner-wrapper .swiper .contents.third {
  background: url(../Images/Home/home-banner.png) no-repeat right bottom/cover;
}
.banner .banner-wrapper .swiper .contents .text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
}
.banner .banner-wrapper .swiper .contents .text p {
  font-size: 40px;
  font-weight: 300;
  color: #fff;
}
.banner .banner-wrapper .swiper .contents .text p span {
  background: #ffb72b;
  display: inline-block;
  padding: 0 5px;
}
@media (max-width: 991px) {
  .banner .banner-wrapper .swiper .contents {
    min-height: 400px;
  }
  .banner .banner-wrapper .swiper .contents.first {
    background: url(../Images/Home/home-banner.png) no-repeat center center/cover;
  }
  .banner .banner-wrapper .swiper .contents.second {
    background: url(../Images/Home/home-banner2.png) no-repeat center center/cover;
  }
  .banner .banner-wrapper .swiper .contents.third {
    background: url(../Images/Home/home-banner.png) no-repeat center center/cover;
  }
  .banner .banner-wrapper .swiper .contents .text {
    top: 35%;
  }
  .banner .banner-wrapper .swiper .contents .text p {
    font-size: 30px;
  }
}
.banner .banner-wrapper .swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  height: 15px;
  width: 15px;
  opacity: 1;
}
.banner .banner-wrapper .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 3px solid #ffb72b;
  outline: 1px solid #fff;
}

.st-text {
  max-width: 810px;
  padding: 45px 10px 80px;
  margin: auto;
}
.st-text p {
  padding-top: 25px;
  font-weight: 300;
  color: #5d5d5d;
  font-size: 20px;
}
.st-text p span {
  font-weight: 400;
}
@media (max-width: 767px) {
  .st-text {
    padding: 30px 10px 40px;
  }
  .st-text p {
    font-size: 19px;
  }
}

.vehicle {
  padding: 35px 0;
  background: #eae8e9;
}
.vehicle .container {
  max-width: 860px;
}
.vehicle .img-wrap {
  position: relative;
  padding-top: 50px;
}
.vehicle .img-wrap p {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-wrap: nowrap;
  background: #0b7060;
  color: #fff;
  font-family: "Lato", sans-serif;
  padding: 2px 10px;
  font-size: 15px;
  border-radius: 10px;
  z-index: 99;
  transition: all 0.2s;
}
.vehicle .img-wrap p .text {
  font-weight: 300;
  position: relative;
  z-index: 999;
}
.vehicle .img-wrap p .text span {
  font-weight: 400;
}
@media (max-width: 767px) {
  .vehicle .img-wrap p .text {
    font-size: 8px;
  }
}
.vehicle .img-wrap p::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 90%;
  height: 15px;
  width: 15px;
  background: #0b7060;
  transform: rotate(45deg) translateX(-50%);
  z-index: 1;
}
@media (max-width: 767px) {
  .vehicle .img-wrap p::after {
    height: 12px;
    width: 12px;
  }
}
@media (max-width: 767px) {
  .vehicle .img-wrap p {
    font-size: 8px;
  }
}
.vehicle .img-wrap:hover p {
  transform: translateX(-50%) scale(1.2);
}

.benefits {
  max-width: 820px;
  padding: 70px 0 0;
  margin: auto;
}
.benefits .icon-wrap {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #ffb72b;
}
.benefits .icon-wrap img {
  max-width: 35px;
}
@media (max-width: 767px) {
  .benefits .icon-wrap {
    width: 80px;
    height: 80px;
  }
}

.latest-ev {
  padding: 70px 0 35px;
}
.latest-ev .news-card .headings {
  padding-top: 15px;
  min-height: 90px;
}
.latest-ev .news-card .headings h6 {
  font-weight: 400;
  color: #080808;
  font-size: 14px;
  padding-bottom: 10px;
}
.latest-ev .news-card .brief,
.latest-ev .news-card .more-link {
  font-size: 14px;
  color: #7c7c7c;
  transition: all 0.2s;
}
.latest-ev .news-card .more-link:hover {
  color: #f5ab16;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .latest-ev {
    padding: 40px 0;
  }
  .latest-ev .news-card .headings {
    min-height: auto;
  }
}

.epc-banner {
  margin: 25px 0 100px;
  position: relative;
  min-height: 250px;
}
.epc-banner .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.epc-banner .text .wrap {
  background: #0b7060;
  padding: 65px 70px;
  max-width: 800px;
  margin-left: -70px;
}
.epc-banner .text .wrap h3 {
  font-weight: 900;
  color: #fff;
  font-size: 40px;
  padding-bottom: 20px;
}
.epc-banner .text .wrap h3 span {
  font-weight: 300;
}
.epc-banner .text .wrap p {
  font-weight: 300;
  font-size: 22px;
  color: #fff;
}
.epc-banner .text .wrap .sub-t {
  font-size: 20Spx;
  padding-bottom: 20px;
}
.epc-banner .text .wrap .contact-over {
  display: inline-block;
  color: #ffffff;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .epc-banner {
    margin: 20px 0 60px;
    height: 380px;
  }
  .epc-banner.cnct {
    background: url(../Images/contact-bann-img.png) top right/cover;
  }
  .epc-banner.abt {
    background: url(../Images/about-banner-img.png) top right/cover;
  }
  .epc-banner .text .wrap {
    margin: 0;
    padding: 20px;
  }
  .epc-banner .text .wrap h3 {
    font-size: 30px;
  }
  .epc-banner .text .wrap p {
    font-size: 16px;
  }
}

.mission {
  background: #e1e0e0;
  padding: 55px 0;
}
.mission .heading {
  color: #0b7060;
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 25px;
}
.mission .heading span {
  font-weight: 300;
}
.mission p {
  font-weight: 300;
  font-size: 18px;
}
@media (max-width: 767px) {
  .mission {
    padding: 40px 0;
  }
  .mission .heading {
    font-size: 35px;
  }
  .mission p {
    font-size: 18px;
  }
}

.core-value {
  padding: 80px 0 65px;
}
.core-value .title {
  font-size: 18px;
}
.core-value p {
  font-size: 14px;
}
.core-value .contacto {
  padding-top: 70px;
}
.core-value .contacto p {
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 30px;
}
.core-value .contacto .contact-btn {
  background: #0b7060;
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
}
.core-value .contacto .contact-btn:hover {
  background: #17a38c;
}
.core-value .icon-wrap {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #ffb72b;
}
.core-value .icon-wrap img {
  max-width: 35px;
}
@media (max-width: 767px) {
  .core-value {
    padding: 45px 0 30px;
  }
  .core-value .contacto {
    padding-top: 40px;
  }
  .core-value .contacto p {
    font-size: 20px;
  }
}

.contact-form {
  padding: 60px 0;
  margin-bottom: 50px;
  background: #f8f8f8;
}
.contact-form .container {
  max-width: 850px;
}
.contact-form .section-heading {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.contact-form .section-heading::after {
  background: #000;
}
.contact-form h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 15px;
}
.contact-form label {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
  padding-bottom: 3px;
}
.contact-form input,
.contact-form select {
  width: 100%;
  height: 35px;
  border: 1px solid #dddddd;
  padding: 5px;
}
.contact-form select {
  color: #797979;
}
.contact-form .submit-btn {
  width: 100%;
  border: 0;
  background: #000;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  padding: 20px;
  transition: all 0.3s;
}
.contact-form .submit-btn:hover {
  background: #ffb72b;
  color: #000;
}
@media (max-width: 767px) {
  .contact-form {
    padding: 40px 0 50px;
  }
}/*# sourceMappingURL=style.css.map */