.epc-banner {
    margin: 30px 0 120px;
    position: relative;
    min-height: 250px;

    .text {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;

        .wrap {
            background: #0b7060;
            padding: 75px 80px;
            max-width: 840px;
            margin-left: -80px;

            h3 {
                font-weight: 900;
                color: #fff;
                font-size: 45px;
                padding-bottom: 20px;

                span {
                    font-weight: 300;
                }
            }

            p {
                font-weight: 300;
                font-size: 26px;
                color: #fff;
            }

            .sub-t {
                font-size: 22px;
                padding-bottom: 20px;
            }

            .contact-over {
                display: inline-block;
                color: #ffffff;
                padding-bottom: 10px;
            }
        }
    }

    @media(max-width: 767px) {
        margin: 20px 0 60px;
        height: 380px;

        &.cnct {
            background: url(../Images/contact-bann-img.png) top right/cover;
        }

        &.abt {
            background: url(../Images/about-banner-img.png) top right/cover;
        }

        .text {
            .wrap {
                margin: 0;
                padding: 20px;

                h3 {
                    font-size: 35px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }
}

.mission {
    background: #e1e0e0;
    padding: 60px 0;

    .heading {
        color: #0b7060;
        font-size: 46px;
        font-weight: 900;
        padding-bottom: 30px;

        span {
            font-weight: 300;
        }

    }

    p {
        font-weight: 300;
        font-size: 20px;
    }


    @media(max-width: 767px) {
        padding: 40px 0;

        .heading {
            font-size: 35px;
        }

        p {
            font-size: 18px;
        }
    }
}

.core-value {
    padding: 85px 0 70px;

    .contacto {
        padding-top: 80px;

        p {
            font-size: 26px;
            font-weight: 300;
            padding-bottom: 30px;
        }

        .contact-btn {
            background: #0b7060;
            display: inline-block;
            color: #fff;
            padding: 10px 30px;
            border-radius: 25px;

            &:hover {
                background: #17a38c;
            }
        }
    }

    .icon-wrap {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        background: #ffb72b;

        img {
            max-width: 40px;
        }
    }

    @media(max-width: 767px) {
        padding: 45px 0 30px;

        .contacto {
            padding-top: 40px;

            p {
                font-size: 20px;
            }
        }

    }
}

.contact-form {
    padding: 60px 0 80px;
    margin-bottom: 50px;
    background: #f8f8f8;

    .container {
        max-width: 940px;
    }

    .section-heading {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;

        &::after {
            background: #000;
        }
    }

    h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 15px;
    }

    label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
        display: inline-block;
        padding-bottom: 3px;
    }

    input,
    select {
        width: 100%;
        height: 35px;
        border: 1px solid #dddddd;
        padding: 5px;
    }

    .submit-btn {
        width: 100%;
        border: 0;
        background: #000;
        color: #ffffff;
        font-weight: 300;
        font-size: 16px;
        padding: 20px;
    }

    @media(max-width: 767px) {
        padding: 40px 0 60px;
    }
}